{% include 'accounts/main.html' %}
<head>
  <title>home</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
{% block content%}

{% endblock %}








<p><b>  YOU MUST FILL THESE TO ENTER THE ROOM</b></p>

</body>



<body>



<form action="/action_page.php">
  <label for="Enter Your Name">Enter Your Name:</label><br>
  <input type="text" id="Enter Your Name"><br>
  <label for="Enter Game Code">Enter Game Code:</label><br>
  <input type="text" id="Enter Game Code" name="Enter Game Code"><br><br>

</form>



</body>

<body>





<form action="/action_page.php">
  <label for="Gender">Choose the genders:</label>
  <select name="Gender" id="Gender">
    <option value="female">female</option>
    <option value="male">male</option>

  </select>

  <br><br>

</form>


<button type="button" onclick="alert('ROOM CODE: LSX75')">ENTER</button>

</body>

