{% include 'accounts/main.html' %}

<head>
  <title>home</title>
  </script>
  </head>
<body>

{% block content%}



{% endblock %}

<div class="container">
</div>

</body>


<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
</style>
</head>
<body>

<h2></h2>
<img src="https://is5-ssl.mzstatic.com/image/thumb/Purple113/v4/8f/98/d7/8f98d799-7fad-b82b-38e7-2af397dc7248/source/512x512bb.jpg" alt="sise" width="500" height="333" class="center">

</body>

<head>
  <style>
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 350px;

}
</style>
</head>

<body>

<div class="center">
   <form method="GET">
  <button type="button" onClick="window.location='http://127.0.0.1:8000/gamemode'" >Find Game</button>

</button>
     </form>
</div>

</body>

