{% include 'accounts/main.html' %}
<head>
 <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Title</title>
</head>
<body>
{% block content%}

{% endblock %}

<div class="container">

</div>
<div class="container text-center">
  <h3>ROOMS</h3><br>
  <div class="row">
    <div class="col-sm-4">
        <button id="close-image"><img src="group.png"width="300" height="300"onClick="location.href='room.html'"></button>


      <p>Room 1</p>
    </div>
      <div class="col-sm-4">
        <button id="close-image1"><img src="group.png"width="300" height="300"onClick="location.href='room.html'"></button>


      <p>Room 2 </p>
    </div>
      <div class="col-sm-4">
        <button id="close-image2"><img src="group.png"width="300" height="300"onClick="location.href='room.html'"></button>


      <p>Room 3</p>
    </div>
       </div>
      <div class="col-sm-4">
        <button id="close-image3"><img src="group.png"width="300" height="300"onClick="location.href='room.html'"></button>


      <p>Room 4</p>
    </div>
    <div class="col-sm-4">
        <button id="close-image4"><img src="group.png"width="300" height="300"onClick="location.href='room.html'"></button>


      <p>Room 5</p>
    </div>
    <div class="col-sm-4">
        <button id="close-image5"><img src="group.png"width="300" height="300"onClick="location.href='room.html'"></button>


      <p>Room 6</p>
    </div>


  </div>
</div><br>

<style>

</style>

</body>
</html>